*{margin:0; padding:0}
body{padding:2em 4em}

.content-article{max-width:468px; background-color:#fff}
.byline{font-size:11px; font-family:Georgia, serif; font-weight:700}


p{margin:1em 1.25em; font-family:Georgia, serif}
h1,h2{line-height:1.15; text-align:left; font-family:"Trebuchet MS"; margin-top:15px; color:#000}

h1{font-size:25px}
h2{font-size:19px}

time{display:block; font-size:11px; font-family:Georgia, serif; font-weight:700}

